/* Set colors for light theme */

[data-theme='light'] .bd-sidebar-secondary {
    background-color: #ecf2f9 !important;
}

[data-theme='light'] .bd-sidebar-primary {
    background-color: #ecf2f9 !important;
}

[data-theme='light'] body {
   background-color: #ecf2f9 !important;
}

[data-theme='light'] .bd-header-article {
   background-color: #ecf2f9 !important;
}

[data-theme='light'] .table {
    border: #EDF8EC !important;
}

[data-theme='light'] .table thead {
    --bs-table-bg: hsl(115, 46%, 92%) !important;
}

[data-theme='light'] .table tbody tr:nth-child(odd) {
    --bs-table-bg: hsl(115, 46%, 87%) !important;
}

[data-theme='light'] .table tbody tr:nth-child(even) {
    --bs-table-bg: hsl(115, 46%, 92%) !important;
}


/* Set colors for dark theme */

[data-theme='dark'] .bd-sidebar-secondary {
    background-color: #152b41 !important;
}

[data-theme='dark'] .bd-sidebar-primary {
    background-color: #152b41 !important;
}

[data-theme='dark'] body {
   background-color: #152b41 !important;
}

[data-theme='dark'] .bd-header-article {
   background-color: #152b41 !important;
}

[data-theme='dark'] .table {
    border: hsl(111, 6%, 20%) !important;
}

[data-theme='dark'] .table thead {
    --bs-table-bg: hsl(111, 6%, 20%) !important;
}

[data-theme='dark'] .table tbody tr:nth-child(odd) {
    --bs-table-bg: hsl(111, 6%, 16%) !important;
}

[data-theme='dark'] .table tbody tr:nth-child(even) {
    --bs-table-bg: hsl(111, 6%, 20%) !important;
}

/* Set color of quiz for dark thme */

html[data-theme=dark] .bd-content div.cell_output .text_html:not(:has(table.dataframe)) {
    background-color: #152b41;
}
